.return-home, .all-chars-btn {
  padding: 5%;
  font-size: 2em;
  background: none;
  border: none;
  &:focus {
    outline: none;
  }
  @include lg {
    padding:  3%;
    font-size: 1.5em;
  }
}

.character {
  margin-top: 5%;
  @include lg {
    margin-top: 0;
  }
  .card-title {
    font-size: 5em;
    @include lg {
      font-size: 2em;
    }
  }
  .card-text, .btn-info {
    font-size: 3em;
    @include lg {
      font-size: 1.3em;
    }
  }
  .card-body {
    @include lg {
      padding: 10px;
    }
  }

  .list-group-item, h5 {
    color: #333333;
    border: none;
    font-size: 2em;
    @include lg {
      font-size: 1em;
    }
  }
  .modal-body {
    height: 60em;
    @include lg {
      height: 50em;
    }
  }

}
