

/* Core variables */
@import 'base/vars';

/* CSS Reset */
@import 'base/reset';

/* CSS print */
@import 'base/print';

/* Fonts */
@import 'base/fonts';

/* Mixins, helpers and functions */
@import 'base/mixins';

/* Components */
@import "components/gallery";
@import "components/character";

/* Browser specific styles */
@import 'dirty/hacks';


.background {
  background-size: cover;
  background: black url("../images/content/stars.jpg") fixed;
  color: $foreground-color;
  font-family: 'DINP-R', arial, serif;
}

.header {
  margin: 4em;
  background: url("../images/content/header.jpg") center no-repeat;
  padding: 60px 30px 30px;
}

main {
  padding-top: 2em;
}

a {
  color: $link-color;
}

address {
  color: $accent-color;
}

.logo {
  margin: 0 auto;
  display: block;
}
