

/* Core variables */
@import 'base/vars';

/* CSS Reset */
@import 'base/reset';

/* CSS print */
@import 'base/print';

/* Fonts */
@import 'base/fonts';

/* Mixins, helpers and functions */
@import 'base/mixins';

/* Components */
@import "components/gallery";

/* Browser specific styles */
@import 'dirty/hacks';

/* Demo styles */

body {
  background: black url("../images/content/stars.jpg");
  background-size: cover;
  color: $foreground-color;
  font-family: 'DINP-R', arial, serif;
}

header {
  margin: 20px;
  background: url("../images/content/header.jpg") center no-repeat;
  padding: 60px 30px 30px;
}

main {
  text-align: center;
  padding: 10px;
}

a {
  color: $link-color;
}

address {
  color: $accent-color;
}

.logo {
  margin: 0 auto;
  display: block;
}
